<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>
	<script>

	$(document).ready(function() {
		$("#messageform").live("submit", function() {
			newMessage($(this));
			return false;
		});

        updater.start();
	});


	function newMessage(form) {
		var message = form.formToDict();
		updater.socket.send(JSON.stringify(message));
	}

	jQuery.fn.formToDict = function() {
    var fields = this.serializeArray();
    var json = {}
    for (var i = 0; i < fields.length; i++) {
        json[fields[i].name] = fields[i].value;
    }
    if (json.next) delete json.next;
    return json;
};

var updater = {
    socket: null,

    start: function() {
        var url = "ws://" + location.host + "/ComSocket";
        updater.socket = new WebSocket(url);
        updater.socket.onmessage = function(event) {
            updater.showMessage(JSON.parse(event.data));
        }
    },

    showMessage: function(message) {
        var existing = $("#m" + message.id);
        if (existing.length > 0) return;
        var node = $(message.html);
        node.hide();
        $("#inbox").append(node);
        node.slideDown();
    }
};
	</script>
</head>
<body>
	<p>This is a line in the index</p>

	<form action="/a/message/new" method="post" id="messageform">
    <input name="body" id="message"/>
	<input type="submit" value="{{ _("Post") }}"/>
	</form>
    <div id="inbox">
        {% for message in messages %}
            {% include "message.html" %}
        {% end %}
    </div>
</body>

</html>